@import url(normalize.css);
/* *----------------------------------------
 * GLOBAL VARIABLES{{{
 * *----------------------------------------
 * 1: Colors
 * 2: Global Styles
 * 3: Typography
 * 4: Breakpoints
 * }}}
 * ----------------------------------------
 */
/* *----------------------------------------
 * 1: COLORS{{{
 * *----------------------------------------
 */
/* }}}
 * *----------------------------------------
 */
/* *----------------------------------------
 * 2: GLOBAL STYLES{{{
 * *----------------------------------------
 */
/* Box-Shadows */
/* }}}
 * *----------------------------------------
 */
/* *----------------------------------------
 * 3: TYPOGRAPHY{{{
 * *----------------------------------------
 * @TODO : Define @fontface
 *
 */
/* Typographic Styles ----{{{ */
/* ----}}} */
/* }}}
 * *----------------------------------------
 */
/* *----------------------------------------
 * 4: BREAKPOINTS{{{
 * *----------------------------------------
 *
 */
/* *----------------------------------------{{{
 * Author    : Kristopher Watts
 * Email     : kristopher.a.watts@gmail.com
 * Website   : http://Webtastic-Development.net
 * Github    : https://github.com/uncledozer
 * License   : GNU (See License.MD for Details)
 * Copywrite : 2015
 * *----------------------------------------}}}
 */
/* *----------------------------------------
 * BREAKPOINTS{{{
 * *----------------------------------------
 *
 * Use min-device-width for Ios devices
 * *------------------------
 *
 * $smartphone-landscape : (min-device-width: 321px);
 * $smartphone-portrait  : (max-device-width: 320px);
 * $tablet-landscape     : (min-device-width: 768px);
 * $tablet-portrait      : (max-device-width: 769px);
 * $desktop              : (min-width: 1224px);
 * $desktop-large        : (min-width: 1824px);
 * @include breakpoint(breakpointname){
 *   Styles
 * }
 */
/* }}}
 *----------------------------------------
 */
/* *----------------------------------------
 * MIXINS{{{
 * *----------------------------------------
 */
/* }}}
 * *----------------------------------------
 */
/*
 * *----------------------------------------
 * Header Style Tree {{{
 * *----------------------------------------
 *     header
 *         h1.header--logo
 *         nav.header--nav
 *             ul.header--nav--list
 *                 li.header--nav--list--item
 *                     a
 * }}}
 */
header {
  position: relative;
  display: block;
  max-width: 1200px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto; }

.header--logo {
  display: inline-block;
  padding: 35px 0 10px 0;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.3);
  word-spacing: 10px;
  /* margin-right: auto; margin-left: auto; */ }
  .header--logo:first-letter {
    display: block;
    font-size: 8rem;
    text-shadow: 5px 7px rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 1200px) {
    .header--logo {
      display: block;
      padding: 0px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
      max-width: 500px; } }

.header--nav {
  margin: 0 auto;
  text-align: center; }
  .header--nav .header--nav--list--item {
    display: inline-block;
    margin: 0 15px; }

/*
 * *----------------------------------------
 * Content Style Tree {{{
 * *----------------------------------------
 * article.content
 *     h2.content--header
 *     p.content--text
 *     figure.content--figure
 *         code.content--code
 *         figcaption.content--code--caption
 * }}}
 */
article.content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 90%;
  max-width: 840px;
  padding: 0 20px; }
  @media only screen and (max-width: 760px) {
    article.content h2, article.content h3, article.content h3 {
      text-align: center; } }
  article.content figure {
    width: 95%;
    margin: 15px auto; }
    @media only screen and (max-width: 760px) {
      article.content figure {
        width: 100%; } }
  article.content code {
    display: block;
    width: 100%;
    padding: 15px;
    color: #2EB9FF;
    font-size: 1.3rem;
    font-family: 'Office Code Pro', 'Droid Sans Mono' monospace;
    font-weight: 400;
    line-height: 1.6rem;
    background-color: #343434;
    box-shadow: inset 0 -5px 0 -2px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    border-top: 2px solid #404040;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3); }
    article.content code pre {
      padding-bottom: 15px;
      text-align: initial; }
  article.content figcaption {
    display: block;
    text-align: right;
    font-weight: 300;
    color: #70858f;
    margin-bottom: 15px;
    margin-top: 10px;
    font-style: italic; }
  article.content ul {
    display: block;
    width: 85%;
    margin-right: auto;
    margin-left: auto; }
    article.content ul ul {
      padding-left: 15px; }

/*
 * *----------------------------------------
 * Footer Style Tree {{{
 * *----------------------------------------
 * footer
 *     h1.footer--logo
 *
 *
 *
 *
 * }}}
 */
footer .footer-head {
  position: relative;
  display: inline-block;
  color: #FF2E4C;
  font-size: 4.73684rem;
  padding-top: 15px; }

/*
 * *----------------------------------------
 * Layout Styles
 * *----------------------------------------
 * Styles throughout the website
 *
 */
* {
  box-sizing: border-box;
  word-spacing: 3px; }

html {
  font-size: 62.5%; }

body {
  background: #1A1A1A; }

h1, h2, h3, h3, h4, h5, h6, label {
  font-size: 4.5rem;
  font-style: normal;
  line-height: 4.5rem;
  color: #FF2E4C;
  width: auto;
  height: auto; }

form {
  width: 85%;
  margin: 0 auto; }
  form label {
    font-size: 1.6rem;
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto; }
  form input, form textarea {
    display: block;
    width: 35%;
    padding: 5px;
    height: 3rem;
    background: transparent;
    box-shadow: none;
    border: 3px solid #FF2E4C;
    border-radius: 4px;
    color: #2EB9FF;
    font-size: 1.3rem;
    margin-bottom: 25px; }
    form input:active, form input:focus, form textarea:active, form textarea:focus {
      border-color: #7ED65A; }
    form input[type="submit"], form textarea[type="submit"] {
      padding: 0;
      background: #FF2E4C;
      color: #1A1A1A; }
      form input[type="submit"]:hover, form input[type="submit"] :active, form input[type="submit"] :focus, form textarea[type="submit"]:hover, form textarea[type="submit"] :active, form textarea[type="submit"] :focus {
        background: #ff1536;
        border-color: #ff1536; }
  form textarea {
    width: 50%;
    height: 15rem; }

h1 {
  font-family: 'bebas_neuebold', 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 35px 0 10px 65px;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.3);
  word-spacing: 10px; }

h2, h3 {
  font-family: 'bebas_neuelight', 'Open Sans', sans-serif;
  font-size: 2.6rem;
  font-weight: 600;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px; }

h3 {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.3); }

p, article.content ul {
  color: #F1F3F4;
  font-family: 'Aileron', 'Arial', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.7rem;
  text-align: left; }

a {
  font-family: 'Aileron', 'Arial', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.7rem;
  color: #2EB9FF;
  outline: none; }
  a:visited {
    color: #31789C;
    font-weight: 300; }
  a:hover, a:focus {
    color: #7ED65A; }

strong {
  font-weight: 600;
  text-shadow: 1px 5px rgba(0, 0, 0, 0.3);
  color: #F1F3F4;
  font-size: 1.8rem; }

.seam {
  border: 0px;
  border-style: solid;
  border-color: black; }
  .seam.bottom {
    border-bottom-width: 2px;
    box-shadow: 0 1px 0 0 #404040, 0 2px 2px #343434; }
  .seam.top {
    box-shadow: 0 -1px 0 0 #343434, 0 2px 5px #404040;
    border-top-width: 2px; }

.nolist, .header--nav .header--nav--list, article.content ul {
  list-style: none;
  padding: 0; }
  .nolist li, .header--nav .header--nav--list li, article.content ul li {
    padding-left: none; }

nav a {
  text-shadow: 1px 2px rgba(0, 0, 0, 0.3); }
