/*
 * *----------------------------------------
 * Content Style Tree {{{
 * *----------------------------------------
 * article.content
 *     h2.content--header
 *     p.content--text
 *     figure.content--figure
 *         code.content--code
 *         figcaption.content--code--caption
 * }}}
 */

$content-width      : 90%;
$content-max_width  : 840px;
$content-padding    : 0 20px;
$content-margin_top : 90px;

$content--figure-width       : 95%;
$content--figure-margins     : 15px auto;

$content--code-padding       : 15px;
$content--code-width         : 100%;
$content--code-color         : $blue;
$content--code-background    : $grey;
$content--code-font_size     : $font-size_smallish;
$content--code-font_family   : $mono-font_family;
$content--code-border_radius : 3px;
$content--code-shadow        : $shadow-solid;

$content--code--caption-font_weight : $font-weight_light;
$content--code--caption-font_style  : italic;

article.content {
    position: relative;
    margin-left: auto; margin-right: auto;
    margin-top: $content-margin_top;
    width: $content-width;
    max-width: $content-max_width;
    padding: $content-padding;
    // text-align: center;


    h2, h3 {
        @media only screen and ( max-width: $point-phone ){
            text-align: center;
        }
    }

    figure {
        width: $content--figure-width;
        margin: $content--figure-margins;

        @media only screen and ( max-width: $point-phone ){
            width: 100%;
        }
    }

    code {
        display          : block;
        width            : $content--code-width;
        padding          : $content--code-padding;
        color            : $content--code-color;
        font-size        : $content--code-font_size;
        font-family      : $mono-font_family;
        font-weight      : $mono-weight;
        line-height      : $mono-line_height;
        background-color : $content--code-background;
        box-shadow       : $content--code-shadow;
        border-radius    : $content--code-border_radius;
        border-top       : $mono-top_border;
        text-shadow      : $shadow-text_small;

        pre {
            padding-bottom: $content--code-padding;
            text-align: initial;
        }
    }

    figcaption {
        display: block;
        text-align: right;
        font-weight: $font-weight_light;
        color: darken($white, 45%);
        margin-bottom: 15px;
        margin-top: 10px;
        font-style: italic;
    }

    ul {
        @extend .nolist;
        @extend p;
        display: block;
        width: 85%;
        margin-right: auto;
        margin-left: auto;

        ul {
            padding-left: 15px;
        }
    }
}
