/* *----------------------------------------
 * GLOBAL VARIABLES{{{
 * *----------------------------------------
 * 1: Colors
 * 2: Global Styles
 * 3: Typography
 * 4: Breakpoints
 * }}}
 * ----------------------------------------
 */

/* *----------------------------------------
 * 1: COLORS{{{
 * *----------------------------------------
 */

$blue       : #2EB9FF;
$dark_blue  : #31789C;
$green      : #7ED65A;
$red        : #FF2E4C;
$dark_red   : darken($red, 25%);
$white      : #F1F3F4;
$black      : #1A1A1A;
$grey       : #343434;

/* }}}
 * *----------------------------------------
 */

/* *----------------------------------------
 * 2: GLOBAL STYLES{{{
 * *----------------------------------------
 */

/* Box-Shadows */
$shadow-down         :  0px 5px 0 3px rgba(black, .3);
$shadow-left_down    : -3px 5px 0 3px rgba(black, .3);
$shadow-right_down   :  3px 5px 0 3px rgba(black, .3);
$shadow-solid        :  inset 0 -5px 0 -2px rgba(black, .6);

/* }}}
 * *----------------------------------------
 */

/* *----------------------------------------
 * 3: TYPOGRAPHY{{{
 * *----------------------------------------
 * @TODO : Define @fontface
 *
 */

// Font Families
$header-font_family       : 'bebas_neuebold', 'Open Sans', sans-serif;
$subheader-font_family    : 'bebas_neuelight', 'Open Sans', sans-serif;
$content-font_family      : 'Aileron', 'Arial', sans-serif;
$mono-font_family         : 'Office Code Pro', 'Droid Sans Mono' monospace;

// Weights
$font-weight_light   : 300;
$font-weight_reg     : 400;
$font-weight_bold    : 600;
$font-weight_bolder  : 700;

// Size
$font-size_small     : .9rem;
$font-size_smallish  : 1.3rem;
$font-size_reg       : 1.6rem;
$font-size_tall      : 2.0rem;
$font-size_taller    : 2.6rem;
$font-size_tallest   : 4.5rem;

// Text Shadows
$shadow-text         : 1px 5px rgba(black, .3);
$shadow-text_small   : 1px 2px rgba(black,.3);
$shadow-first_letter : 5px 7px rgba(black, .3);

/* Typographic Styles ----{{{ */

// Links
$link-color          : $blue;
$link-weight         : $font-weight_reg;
$link-size           : $font-size_reg;
$link-visited_color  : $dark_blue;
$link-visited_weight : $font-weight_light;
$link-hover_color    : $green;

// Headers
$header-color        : $red;
$header-weight       : $font-weight_reg;
$h1-size             : $font-size_tallest;
$foot-header         : $font-size_tallest / .95;

$h2-size             : $font-size_taller;
$h2-weight           : $font-weight_bold;

$h3-size             : $font-size_tall;
$h3-weight           : $font-weight_bold;
$h3-shadow           : $shadow-text;

// Body
$body-color          : $white;
$body-weight         : $font_weight_reg;
$body-size           : $font-size_reg;

//MonoSpace
$mono-weight         : $font-weight_reg;
$mono-size           : $font-size_reg;
$mono-line_height    : $mono-size;
$mono-bg             : lighten($black, 10%);
$mono-color          : $green;
$mono-radius         : 3px;
$mono-shadow         : $shadow-solid;
$mono-top_border     : 2px solid lighten($black, 15%);

// Strong
$strong-color        : $white;
$strong-text_shadow  : $shadow-text;
$strong-text_size    : $body-size + .2;
$strong-weight       : $font-weight_bold;
/* ----}}} */

/* }}}
 * *----------------------------------------
 */

/* *----------------------------------------
 * 4: BREAKPOINTS{{{
 * *----------------------------------------
 *
 */

$point-phone: 760px;
$point-tablet: 1200px;
