/*
 * *----------------------------------------
 * Layout Styles
 * *----------------------------------------
 * Styles throughout the website
 *
 */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include header-font_stack();
    color: $header-color;
    width: auto;
    height: auto;
}

h1 {
    font-family: $header-font_family;
    font-weight: $header-weight;
    padding: 35px 0 10px 65px;
    text-shadow: $shadow-text;
    word-spacing: 10px;
}

h2 {
    font-family: $subheader-font_family;
    font-size: $h2-size;
    font-weight: $h2-weight;
    text-shadow: $shadow-text;
    letter-spacing: 2px;
}

h3 {
    font-size: $h3-size;
}

p {
    color: $body-color;
    @include body-font_stack;
    text-align: left;
}

a {
    @include body-font_stack($link-weight, $link-size);
    color: $link-color;
    outline: none;

    &:visited {
        color: $link-visited_color;
        font-weight: $link-visited-weight;
    }

    &:hover, &:focus {
        color: $link-hover_color;
    }
}

strong {
    font-weight: $strong-weight;
    text-shadow: $strong-text_shadow;
    color: $strong-color;
    font-size: $strong-text_size;
}

.seam {
    border: 0px;
    border-style: solid;
    border-color: darken($black, 20%);

    &.bottom {
        border-bottom-width: 2px;
        box-shadow: 0 1px 0 0 lighten($black, 15%), 0 2px 2px lighten($black, 10%);
    }

    &.top {
        box-shadow: 0 -1px 0 0 lighten($black, 10%), 0 2px 5px lighten($black, 15%);
        border-top-width: 2px;
    }
}


.nolist {
    list-style: none;
    padding: 0;

    li{
        padding-left: none;
    }
}

nav {
    a{
        text-shadow: $shadow-text_small;
    }
}
