code{
	display: block;
	font-family: $mono-family;
	font-size: $mono-size;
	font-weight: $mono-weight;
	line-height: $mono-line_height;
	color: #2eb9ff;
	background-color: $mono-bg;
	padding: $mono-padding;
	box-shadow: $mono-shadow;
	border-radius: $mono-radius;
	border-top: $mono-top_border;
	text-shadow: $shadow-text_small;
}
