.head-right, .head-left{
	width: 48%;
	display: inline-block;
}

.head-right{
	nav{
		position: relative;
		left: 48%;
	}
}

ul{
	list-style: none !important;
	padding-left: none;
}

nav{
	float: left;
	li{
		display: inline-block;
		margin: 0 10px;
	}

	a{
		text-shadow: $shadow-text_small;
	}
}

article {
	position: relative;
	left: 24%;
	width: 48%;
}
