/*
 * *----------------------------------------
 * Content Style Tree {{{
 * *----------------------------------------
 * article.content
 *     h2.content--header
 *     p.content--text
 *     figure.content--figure
 *         code.content--code
 *         figcaption.content--code--caption
 * }}}
 */

$content-width      : 90%;
$content-max_width  : 840px;
$content-padding    : 0px 35px;
$content-margin_top : 90px;
$content-margin_bottom : $content-margin_top;

$content--figure-width       : 95%;
$content--figure-margins     : 15px auto;

$content--code-padding       : 10px;
$content--code-width         : 95%;
$content--code-color         : $mono-color;
$content--code-background    : darken( $black, 5% );
$content--code-font_size     : $font-size_smallish;
$content--code-font_family   : $mono-font_family;
$content--code-border_radius : 3px;
$content--code-shadow        : 0px 0px 3px 1px rgba( black, .2 );

$content--code--caption-font_weight : $font-weight_light;
$content--code--caption-font_style  : italic;

article.content {
    position: relative;
    width: $content-width; max-width: $content-max_width;

    margin: $content-margin_top auto $content-margin_bottom auto;
    padding: $content-padding;

    /* Version 1.1? */
    /* background-color: lighten( $black, 5% ); */
    /* border-top: 1px solid $grey; */
    /* border-bottom: 1px solid $black; */
    /* border-radius: 5px; */
    /* box-shadow: 0 5px 7px 0px rgba( 0,0,0,.25 ); */


    h2, h3 {
        @media only screen and ( max-width: $point-phone ){
            text-align: center;
        }
    }

    figure {
        width: $content--figure-width;
        margin: $content--figure-margins;

        @media only screen and ( max-width: $point-phone ){
            width: 100%;
        }
    }

    code {
        display          : block;
        margin           : auto;
        width            : $content--code-width;
        padding          : $content--code-padding;
        color            : $content--code-color;
        font-size        : $content--code-font_size;
        font-family      : $mono-font_family;
        font-weight      : $mono-weight;
        line-height      : $mono-line_height;
        background-color : $content--code-background;
        box-shadow       : $content--code-shadow;
        border-radius    : $content--code-border_radius;
        border-top       : $mono-top_border;

        pre {
            padding-bottom: $content--code-padding;
            text-align: initial;
        }
    }

    figcaption {
        display: block;
        text-align: right;
        font-weight: $font-weight_light;
        color: darken($white, 45%);
        margin-bottom: 15px;
        margin-top: 10px;
        font-style: italic;
    }

    ul {
        @extend .nolist;
        @extend p;
        display: block;
        width: 85%;
        margin-right: auto;
        margin-left: auto;

        ul {
            padding-left: 15px;
        }
    }

    hr {
        margin: 40px -5% 40px;
        width: 110%;
        border: none;
        border-top: 6px solid rgb( 10, 10, 10 );
        border-bottom: 1px solid $grey;
    }
}
