/*
 * *----------------------------------------
 * Layout Styles
 * *----------------------------------------
 * Styles throughout the website
 *
 */

* {
    box-sizing: border-box;
    font-kerning: normal;
    word-spacing: 3px;
}

html {
    font-size: 80.5%;
}

body {
    background: $body-background;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    @include header-font_stack();
    color: $h-color;
    width: auto;
    height: auto;
}

form {
    width: 100%;
    margin: 0 auto;
    font-size: $content-size;

    label {
        @extend h3;
        text-align: left !important;
        font-size: $font-size_reg;
        display: block;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
    }

    input, textarea {
        display: block;
        width: 40%;
        padding: 5px;
        height: 3.0rem;
        background: transparent;
        box-shadow: none;
        border: 5px solid $blue;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba( black, .3 );
        color: $blue;
        margin-bottom: 25px;
        transition: all .25s;

        @media only screen and ( max-width: $point-phone ) {
            width: 100%;
        }

        &:active, &:focus {
            border-color: $green;
            box-shadow: $shadow-right_down;
            background-color: $grey;
            color: $white;
        }

        &[type="submit"] {
            font-size: $font-size_tall;
            font-weight: $font-weight_bold;
            padding: 0;
            background: $blue;
            color: $white;
            width: 50%;
            height: auto;
            text-shadow: 3px 2px rgba( black, .2 );

                @media only screen and ( max-width: $point-phone ) {
                    width: 100%;
                }


            &:hover, :focus {
                background: $green;
                border-color: $green;
                box-shadow: $shadow-right_down;
            }

            &:active {
                box-shadow: inset $shadow-left_up;
            }
        }
    }

    input {
        height: $content-size * 2.5;
    }

    textarea {
        width: 50%;
        height: 15rem;

        @media only screen and ( max-width: $point-phone ) {
            width: 100%;
        }
    }
}

h1 {
    font-family: $header-font_family;
    font-weight: $header-weight;
    padding: 35px 0 10px 65px;
    text-shadow: $shadow-text;
    word-spacing: 10px;
}

h2 {
    font-family: $h2-font_family;
    font-size: $h2-size;
    font-weight: $h2-weight;
    text-shadow: $h2-shadow;
    letter-spacing: 2px;
}

h3 {
    @extend h2;
    font-size: $h3-size;
    font-weight: $h3-weight;
    text-shadow: $h3-shadow;
}

p {
    color: $content-color;
    @include body-font_stack;
    text-shadow: $shadow-text_small;
    text-align: left;
}

a {
    @include body-font_stack($link-weight, $content-size);
    text-shadow: $link-shadow;
    color: $link-color;
    outline: none;
    transition: color .25s;

    &:visited {
        color: $link-visited_color;
        font-weight: $link-visited-weight;
    }

    &:hover, &:focus {
        color: $link-hover_color;
        transition: all .25s;
    }

    & strong {
        &:hover, &:focus {
            color: $red;
            transition: color .25s;
        }
    }
}

strong {
    font-weight: $strong-weight;
    text-shadow: $strong-text_shadow;
    color: $strong-color;
    font-size: $strong-text_size;
}

em {
    @extend strong;
    font-size: $content-size;
    font-weight: $font-weight_reg;
}

.seam {
    border: none;
    background-color: $blue;
    height: 7px;
    &.bottom {
        // box-shadow: 3px 4px 7px rgba(black, .9);
        box-shadow: $seam-shadow;
    }

    &.top {
        box-shadow: -3px 4px 7px rgba(black, .9);
    }
}


.nolist {
    list-style: none;
    padding: 0;

    li{
        padding-left: none;
    }
}

nav {
    a{
        text-shadow: $shadow-text_small;
    }
}
