/*
 * *----------------------------------------
 * Layout Styles
 * *----------------------------------------
 * Styles throughout the website
 *
 */

* {
    box-sizing: border-box;
    font-kerning: normal;
    word-spacing: 3px;
}

html {
    font-size: 80.5%;
    // @include rootsize();
}

body {
    background: $body-background;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    @include header-font_stack();
    color: $h-color;
    width: auto;
    height: auto;
}

h1 {
    @include threeD( darken( $h-color, 25% ) );
    font-family: $header-font_family;
    font-weight: $header-weight;
    padding: 35px 0 10px 65px;
    word-spacing: 10px;
}

h2 {
    font-family: $h2-font_family;
    font-size: $h2-size;
    font-weight: $h2-weight;
    @include shadow( 2, 2, 3, 0, $shadow-color, true );
    letter-spacing: 2px;
    margin-top: $h2-size;
    margin-bottom: 0px;

    & +p {
        margin-bottom: 15px !important;
    }
}

h3 {
    @extend h2;
    font-size: $h3-size;
    font-weight: $h3-weight;
}

p {
    color: $content-color;
    font-size: $content-size;
    line-height: $content-line_height;
    @include body-font_stack;
    text-shadow: $shadow-text_small;
    text-align: left;
    // margin-top: 0px;
}

a {
    @include body-font_stack($link-weight, $content-size);
    text-shadow: $link-shadow;
    color: $link-color;
    outline: none;
    transition: color .25s;

    &:visited {
        color: $link-visited_color;
        font-weight: $link-visited-weight;
    }

    &:hover, &:focus {
        color: $link-hover_color;
        transition: all .25s;
    }

    & strong {
        &:hover, &:focus {
            color: $green;
            transition: color .25s;
            outline: none;
            text-decoration: none;
        }
    }
}

strong {
    font-weight: $strong-weight;
    text-shadow: $strong-text_shadow;
    color: $strong-color;
    font-size: $strong-text_size;
}

em {
    @extend strong;
    font-size: $content-size;
    font-weight: $font-weight_reg;
}

form {
    width: 100%;
    margin: 0 auto;
    font-size: $content-size;

    label {
        text-align: left !important;
        font-size: $font-size_reg;
        display: block;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
    }

    input, textarea {
        display: block;
        width: 40%;
        padding: 5px;
        height: 3.0rem;
        color: $blue;
        background: transparent;
        border: 5px solid $blue;
        border-radius: 4px;
        @include shadow( 2, 2, 5, 0, rgba( black, .5 ) );
        margin-bottom: 25px;
        transition: all .25s;

        @media only screen and ( max-width: $point-phone ) {
            width: 100%;
        }

        &:active, &:focus {
            border-color: $green;
            @include shadow( 3, 3, 2, 4, rgba( black, .5 ) );
            background-color: $grey;
            color: $white;
        }

        &[type="submit"] {
            font-size: $font-size_tall;
            font-weight: $font-weight_bold;
            text-align: center;
            padding: 0;
            background: $blue;
            color: $white;
            width: 50%;
            height: auto;
            @include shadow( 3, 2, 0, rgba( black, .2 ), true );
            transition: all .15s, padding 0s, border 0s;

            @media only screen and ( max-width: $point-phone ) {
                width: 100%;
            }

            &:hover, :focus {
                background: $green;
                border-color: $green;
                @include shadow( 3, 3, 2, 4, rgba( black, .5 ) );
            }

            &:active {
                border: 0px;
                padding: 5px;
                transition: padding 0s, border 0s;
                @include shadow( -3, -3, 4, 1, rgba( black, .5 ), false, 'inset' );
            }
        }
    }

    input {
        height: $content-size * 2.5;
    }

    textarea {
        width: 50%;
        height: 15rem;

        @media only screen and ( max-width: $point-phone ) {
            width: 100%;
        }
    }
}

.nolist {
    list-style: none;
    padding: 0;

    li{
        padding-left: none;
    }
}

nav {
    a{
        text-shadow: $shadow-text_small;
    }
}
